body {
    font-family: "Roboto", sans-serif;
    background: rgb(255,31,79);
    background: linear-gradient(90deg, rgba(255,31,79,1) 0%, rgba(58,232,255,1) 100%);
}

header div {
    height: 100;
    padding: 20px;
    background-color: black;
}

header img {
    width: 200px;
}

main {
    text-align: center;
}

main article {
    margin-bottom: 50px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.43); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.43);
    border: 1px solid black;
    padding: 15px;
    margin: 100px auto;
    height: 180px;
    border-radius: 30px;
    width: 500px;
    background-color: rgb(236, 236, 236);
}

main article h1 {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 1.5em;
    background: rgb(255,31,79);
    background: linear-gradient(90deg, rgba(255,31,79,1) 0%, rgba(58,232,255,1) 100%);
    border-radius: 15px;
    padding: 5px;
}



main article label {
    font-weight: 500;
    margin-bottom: 30px;
    font-size: 1.3em;
    display: block;
    margin-bottom: 20px;
}

main article input {
    border-radius: 5px;
    width: 270px;
    height: 20px;
    border-color: rgb(255,31,79);
}

main article button {
    margin-top: 20px;
    margin-left: 210px;
    display: block;
    font-weight: 700;
    height: 30px;
    border-style: none;
    border-radius: 10px;
    background-color: rgba(58,232,255,1);
}